.primary li {
    padding: 30px 10px;
  }

#mobile {
    margin: auto 0;
    display: none;
    cursor: pointer;
    z-index: 999;
  }
  
  #mobile div {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10%;
    height: 100vh;
    background-color: transparentize(#000, 0.1);
    padding-top: 50%;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    
  }
  
  .mobile-menu li {
    width: 100%;
    text-align: center;
    padding: 30px 10px;
    }
  
  @media screen and (max-width: 580px) {
    header nav {
      display: none;
    }
    #hamburger-icon {
      display: block;
    }
    header {
      background-color: transparent;
    }
    
    #brand {
      color: #fff;
      font-size: 1.5rem;
      z-index: 9999;
    }
  ul a {
    background-color: transparent;
    color: #97A6A0;
    &:active {
      color: #fff;
    }
  }
  }